/model-germline-sbxd-multisample-indel.txt.gz
/model-germline-sbxd-multisample-snp.txt.gz
/model-germline-sbxfast-multisample-indel.txt.gz
/model-germline-sbxfast-multisample-snp.txt.gz
/model-germline-sbxd-multisample-snv.txt.gz
